<header class="d-flex flex-column justify-content-between">
    <div>
        <img src="../../../assets/img/SwiftShare.svg" alt="SwiftShare" width="200px">
        <ul>
            <li class="section">
                <mat-icon id="homeIcon">home</mat-icon>
                <label for="homeIcon">Home</label>
            </li>
            <li class="section">
                <mat-icon id="notificaIcon">free_breakfast</mat-icon>
                <label for="notificaIcon">Notifications</label>
            </li>
            <li class="section">
                <mat-icon id="addIcon">add_circle_outline</mat-icon>
                <label for="addIcon">Add</label>
            </li>
        </ul>
    </div>
    <ul>
        <li class="section">
            <mat-icon id="homeIcon">home</mat-icon>
            <label for="homeIcon">Others</label>
        </li>
    </ul>

</header>
